# First configuration
---
path: /users/:name
method: POST
# port: 8080
urlParam:
    name: string
query:
  civ: string
actions:
  - type: sql
    in: inMemory
    command: insert into tbl (nom, civ) values (?, ?);
    param:
      - name
      - civ
    save: id
response:
  txt: :id